*.env
__pycache__/
*.py[cod]
*.pyo

db.sqlite3
media/
staticfiles/

.vscode/
.idea/
*.swp
templates/drf-yasg
templates/base.html
templates/base_no_sidebar.html
quests/templates/403.html
quests/templates/400.html
quests/templates/500.html
quests/templates/robots.txt
quests/templates/yandex_9a99c4bc5ddefd70.html
users/templates/user/