*.env
__pycache__/
*.py[cod]
*.pyo

db.sqlite3
media/
staticfiles/

.vscode/
.idea/
*.swp
templates/drf-yasg
templates/base.html
templates/base_no_sidebar.html
main/templates/robots.txt
main/templates/yandex_9a99c4bc5ddefd70.html
main/templates/main/admin_rofl.html
main/templates/main/privacy.html
main/templates/main/app_daskoro.html
