{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'vendor/css/500.css' %}">
        
            
    

    <!-- Require stylesheet load from local -->
        <!-- <link href="./dist/css/bootstrap.min.css" rel="stylesheet"> -->
            <!-- <link href="./dist/css/fontawesome-all.min.css" rel="stylesheet"> -->


    <!-- Required stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	

    <link href="./dist/css/style.css" rel="stylesheet"/>

    </head>

<body>
    <section class="ezy__httpcodes2_J8Px8L3g">
        <!-- shape one -->
        <svg class="position-absolute bottom-0 start-0" xmlns="http://www.w3.org/2000/svg" width="232" height="327"
          viewBox="0 0 232 327" fill="none">
          <g opacity="0.2">
            <path
              d="M0.00027223 71.8063C88.7272 71.8063 160.655 143.734 160.655 232.461C160.655 321.188 88.7272 393.116 0.000244141 393.116"
              fill="#FFE031" />
            <path d="M179.119 232.461C179.119 331.382 98.9211 411.58 0.000474396 411.58" stroke="#1D262D"
              stroke-miterlimit="10" />
            <path d="M0.000490055 53.3431C98.9212 53.3431 179.119 133.541 179.119 232.461" stroke="#1D262D" stroke-width="4"
              stroke-miterlimit="10" />
            <path d="M179.119 232.461C179.119 331.382 98.9211 411.58 0.000474396 411.58" stroke="#5243C2"
              stroke-miterlimit="10" />
            <path d="M0.000490055 53.3431C98.9212 53.3431 179.119 133.541 179.119 232.461" stroke="#5243C2" stroke-width="4"
              stroke-miterlimit="10" />
            <path d="M195.657 232.461C195.657 340.518 108.057 428.118 0.000287961 428.118" stroke="#1D262D"
              stroke-miterlimit="10" />
            <path d="M0.000305065 36.8043C108.057 36.8044 195.657 124.404 195.657 232.461" stroke="#1D262D" stroke-width="4"
              stroke-miterlimit="10" />
            <path d="M195.657 232.461C195.657 340.518 108.057 428.118 0.000287961 428.118" stroke="#5243C2"
              stroke-miterlimit="10" />
            <path d="M0.000305065 36.8043C108.057 36.8044 195.657 124.404 195.657 232.461" stroke="#5243C2" stroke-width="4"
              stroke-miterlimit="10" />
            <path d="M212.126 232.461C212.126 349.62 117.158 444.588 8.48279e-05 444.588" stroke="#5243C2"
              stroke-miterlimit="10" />
            <path d="M0.000591654 20.3349C117.159 20.3349 212.127 115.303 212.127 232.461" stroke="#5243C2" stroke-width="4"
              stroke-miterlimit="10" />
            <path d="M230.001 232.461C230 359.484 127.023 462.461 0.000450316 462.461" stroke="#5243C2"
              stroke-miterlimit="10" />
            <path d="M0.000470423 2.46118C127.023 2.46119 230 105.439 230 232.461" stroke="#5243C2" stroke-width="4"
              stroke-miterlimit="10" />
          </g>
        </svg>
        <!-- shape two -->
        <svg class="position-absolute top-0 start-0 d-none d-sm-block" xmlns="http://www.w3.org/2000/svg" width="230"
          height="76" viewBox="0 0 230 76" fill="none">
          <path d="M34.0747 18.8387H12.9956V39.9179H34.0747V18.8387Z" stroke="#8BD2BD" stroke-width="2"
            stroke-miterlimit="10" />
          <path d="M73.0527 18.8387H51.9736V39.9179H73.0527V18.8387Z" stroke="#8BD2BD" stroke-width="2"
            stroke-miterlimit="10" />
          <path d="M112.048 18.8387H90.9692V39.9179H112.048V18.8387Z" stroke="#8BD2BD" stroke-width="2"
            stroke-miterlimit="10" />
          <path d="M151.027 18.8387H129.948V39.9179H151.027V18.8387Z" stroke="#8BD2BD" stroke-width="2"
            stroke-miterlimit="10" />
          <path d="M190.004 18.8387H168.925V39.9179H190.004V18.8387Z" stroke="#8BD2BD" stroke-width="2"
            stroke-miterlimit="10" />
          <path d="M229 18.8387H207.92V39.9179H229V18.8387Z" stroke="#8BD2BD" stroke-width="2" stroke-miterlimit="10" />
          <path d="M34.0747 53.2292H12.9956V74.3084H34.0747V53.2292Z" stroke="#8BD2BD" stroke-width="2"
            stroke-miterlimit="10" />
          <path d="M73.0527 53.2292H51.9736V74.3084H73.0527V53.2292Z" stroke="#8BD2BD" stroke-width="2"
            stroke-miterlimit="10" />
          <path d="M112.048 53.2292H90.9692V74.3084H112.048V53.2292Z" stroke="#8BD2BD" stroke-width="2"
            stroke-miterlimit="10" />
          <path d="M151.027 53.2292H129.948V74.3084H151.027V53.2292Z" stroke="#8BD2BD" stroke-width="2"
            stroke-miterlimit="10" />
          <path d="M190.004 53.2292H168.925V74.3084H190.004V53.2292Z" stroke="#8BD2BD" stroke-width="2"
            stroke-miterlimit="10" />
          <path d="M229 53.2292H207.92V74.3084H229V53.2292Z" stroke="#8BD2BD" stroke-width="2" stroke-miterlimit="10" />
          <path d="M12.9956 1.46106H34.0573" stroke="#8BD2BD" stroke-width="2" stroke-miterlimit="10"
            stroke-linecap="square" />
        </svg>
        <!-- shape three -->
        <svg class="position-absolute top-0 end-0" xmlns="http://www.w3.org/2000/svg" width="130" height="93"
          viewBox="0 0 130 93" fill="none">
          <g opacity="0.5">
            <path d="M7.81955 92.1754V76.5363M15.6391 84.3558H0H15.6391Z" stroke="#8BD2BD" stroke-miterlimit="10" />
            <path d="M7.81955 53.6791V38.04M15.6391 45.8596H0H15.6391Z" stroke="#8BD2BD" stroke-miterlimit="10" />
            <path d="M7.81955 16.3859V0.746765M15.6391 8.56631H0H15.6391Z" stroke="#8BD2BD" stroke-miterlimit="10" />
            <path d="M7.81955 92.1754V76.5363M15.6391 84.3558H0H15.6391Z" stroke="#5243C2" stroke-width="2"
              stroke-miterlimit="10" />
            <path d="M7.81955 53.6791V38.04M15.6391 45.8596H0H15.6391Z" stroke="#5243C2" stroke-width="2"
              stroke-miterlimit="10" />
            <path d="M7.81955 16.3859V0.746765M15.6391 8.56631H0H15.6391Z" stroke="#5243C2" stroke-width="2"
              stroke-miterlimit="10" />
            <path d="M43.9099 92.1754V76.5363M51.7294 84.3558H36.0903H51.7294Z" stroke="#8BD2BD" stroke-miterlimit="10" />
            <path d="M43.9099 53.6791V38.04M51.7294 45.8596H36.0903H51.7294Z" stroke="#8BD2BD" stroke-miterlimit="10" />
            <path d="M43.9099 16.3859V0.746765M51.7294 8.56631H36.0903H51.7294Z" stroke="#8BD2BD" stroke-miterlimit="10" />
            <path d="M43.9099 92.1754V76.5363M51.7294 84.3558H36.0903H51.7294Z" stroke="#5243C2" stroke-width="2"
              stroke-miterlimit="10" />
            <path d="M43.9099 53.6791V38.04M51.7294 45.8596H36.0903H51.7294Z" stroke="#5243C2" stroke-width="2"
              stroke-miterlimit="10" />
            <path d="M43.9099 16.3859V0.746765M51.7294 8.56631H36.0903H51.7294Z" stroke="#5243C2" stroke-width="2"
              stroke-miterlimit="10" />
            <path d="M79.9997 53.6791V38.04M87.8193 45.8596H72.1802H87.8193Z" stroke="#8BD2BD" stroke-miterlimit="10" />
            <path d="M79.9997 16.3859V0.746765M87.8193 8.56631H72.1802H87.8193Z" stroke="#8BD2BD" stroke-miterlimit="10" />
            <path d="M79.9997 53.6791V38.04M87.8193 45.8596H72.1802H87.8193Z" stroke="#5243C2" stroke-width="2"
              stroke-miterlimit="10" />
            <path d="M79.9997 16.3859V0.746765M87.8193 8.56631H72.1802H87.8193Z" stroke="#5243C2" stroke-width="2"
              stroke-miterlimit="10" />
            <path d="M116.09 53.6791V38.04M123.91 45.8596H108.271H123.91Z" stroke="#8BD2BD" stroke-miterlimit="10" />
            <path d="M116.09 16.3859V0.746765M123.91 8.56631H108.271H123.91Z" stroke="#8BD2BD" stroke-miterlimit="10" />
            <path d="M116.09 53.6791V38.04M123.91 45.8596H108.271H123.91Z" stroke="#5243C2" stroke-width="2"
              stroke-miterlimit="10" />
            <path d="M116.09 16.3859V0.746765M123.91 8.56631H108.271H123.91Z" stroke="#5243C2" stroke-width="2"
              stroke-miterlimit="10" />
          </g>
        </svg>
        <!-- shape four -->
        <div class="ezy__httpcodes2_J8Px8L3g-shape-four"></div>
      
        <!-- content -->
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12-col-lg-5 d-flex flex-column align-items-center text-center">
              <div class="ezy__httpcodes2_J8Px8L3g-browser">
                <div class="ezy__httpcodes2_J8Px8L3g-browser-bar">
                  <span></span>
                  <span></span>
                  <span></span>
                </div>
                <h2 class="ezy__httpcodes2_J8Px8L3g-heading my-4">500</h2>
              </div>
              <p class="ezy__httpcodes2_J8Px8L3g-sub-heading mt-5">{% trans 'К сожалению, что-то пошло не так. Мы работаем над этим и вскоре исправим. Пожалуйста, повторите попытку позже.' %}</p>
            </div>
          </div>
        </div>
      </section>


    <!-- END: Body Content -->

    <!-- Require scripts load from local -->
        <!-- <script src="./dist/js/popper.min.js" ></script> -->
    <!-- <script src="./dist/js/bootstrap.min.js" ></script> -->
    
    <!-- Required scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/js/all.min.js" integrity="sha512-rpLlll167T5LJHwp0waJCh3ZRf7pO6IT1+LZOhAyP6phAirwchClbTZV3iqL3BMrVxIYRbzGTpli4rfxsCK6Vw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
    
                    
    </body>
</html>